<div id="BisModal" class="modal" data-s-module="BisModal">
  <div class="modal-content">
    <h4 class="bis-product-title"></h4>
    <p>Sign up to get a text or an email if this product becomes available again.</p>
    <div class="row">
      <form class="col s12">
        <div class="input-field col s12">
          <input id="email" type="email">
          <label for="email">Email</label>
        </div>
        <div class="input-field col s12">
          <input id="phone" type="tel">
          <label for="phone">Phone Number</label>
          <span class="helper-text" data-error="wrong" data-success="right">17143886920</span>
        </div>
        <div class="input-field col s12 center-align">
          <button class="btn background-s-red get-bis-notification">Submit</button>
        </div>
      </form>
    </div>
  </div>
  <div class="modal-footer">
    <a href="#!" class="modal-close waves-effect waves-green btn-flat">Close</a>
  </div>
</div>