{% comment %}
  Requires include 'tags_logic',
  which has been included in collection.liquid
{% endcomment %}
<div id="FiltersDrawer" class="sidenav filters-drawer" data-s-module="FiltersDrawer">
  {{ tags_list }}
</div>

