{% comment %}
  Requires include 'tags_logic',
  which has been included in collection.liquid
{% endcomment %}
<aside id="FiltersColumn" class="col l3 hide-on-med-and-down transition-margin">
  <div class="inner-wrapper">
    <div class="top-marker"></div>
    {{tags_list}}{% comment %}capture variable from tags_logic{% endcomment %}
    <div class="bottom-marker"></div>
  </div>
</aside>