{% comment %}
  Requires include 'tags_logic',
  which has been included in collection.liquid
{% endcomment %}
<div id="FiltersDrawer" class="sidenav filters-drawer" data-s-module="FiltersDrawer">
  <h6 class="valign-wrapper" style="padding-left:10px;">
    <span>Filter By</span>
    <a href="#!" data-target="FiltersDrawer" class="sidenav-close color-s-red" style="margin-left:auto; padding-right:15px;">
      <i class="material-icons">close</i>
    </a>
  </h6>
  {{ tags_list }}
</div>

