<div class="login-form" data-s-module="LoginForm">
  <h4 class="form-title">Sign In</h4>
  {% form 'customer_login' %}
  {{ form.errors | default_errors }}
  <input type="hidden" name="form_type" value="customer_login"><input type="hidden" name="utf8" value="✓">

  <label for="customer_email">Email Address</label>
  <input type="email" name="customer[email]" />

  <label for="customer_password">Password</label>
  <input type="password" name="customer[password]" />

  <input class="btn waves-effect waves-light background-s-red" type="submit" value="Sign In" />
  <button class="btn-flat waves-effect waves-light" data-form="customer_login">Forgot your password?</button>
  {% endform %}

  <div id="RecoverPassword" class="hide recover-password">
    {% form 'recover_customer_password' %}

    {{ form.errors | default_errors }}

    <label for="customer_email">Email Address</label>
    <input type="email" name="email" />

    <button class="btn-flat waves-effect waves-light" data-form="recover_password">&larr; Back to login</button>
    <input class="btn waves-effect waves-light background-s-red" type="submit" value="Submit" />

    {% endform %}
  </div>
</div>

<style>
  #errors {
    background-color: #ffebee;
    border: 1px solid #e53935;
    color: #b71c1c;
  }
</style>