<div class="mobile-nav-container black fixed-bottom hide-on-large-only">
  <nav id="MobileNav" class="grey darken-4" data-s-module="MobileNav">
    <div class="row">
      <div class="col s2 center-align">
        <a href="/">
          <i class="material-icons">home</i>
        </a>
      </div>
      <div class="col s2 center-align">
        <a href="#MobileSearch" class="modal-trigger">
          <i class="material-icons">search</i>
        </a>
      </div>
      <div class="col s2 center-align">
        <a href="/cart">
          <i class="material-icons">shopping_cart</i>
        </a>
      </div>
      <div class="col s2 center-align">
        <a href="/account">
          <i class="material-icons">person</i>
        </a>
      </div>
      <div class="col s2 center-align">
        <a role="button" aria-pressed="false" tabindex="0" onclick="openChat()">
          <i class="material-icons">chat</i>
        </a>
      </div>
      <div class="col s2 center-align">
        <a href="#" class="sidenav-trigger" data-target="MobileMenu" data-closes="MobileMenu">
          <i class="material-icons">menu</i>
        </a>
      </div>
    </div>
  </nav>
</div>