<div class="product-details">
  {% if display_title %}
  <div class="underlined">
    <h4>MINOXIDIL 5% SOLUTION</h4>
  </div>
  {% endif %}
  <h4 class="text-s-red">WHAT IS IT?</h4>
  <p class="text-justify">Minoxidil is a topical, liquid solution that you apply to your scalp twice daily. Once you start using minoxidil, it requires continued use in order to see continued results.</p>
  <h4 class="text-s-red">WHAT DOES IT DO?</h4>
  <p class="text-justify">Minoxidil creates the ideal conditions for hair growth in your scalp by increasing blood flow to your scalp and hair follicles. This topical solution slows down hair loss and encourages the hair you do have to grow in thicker and stronger, which can make a huge difference in how thinning hair looks. Minoxidil works best for hair growth on the crown and vertex of your head. Unfortunately, it will not stimulate growth on a receding hairline and is not recommended for use on anywhere other than the crown (top) of your head.</p>
  <h4 class="text-s-red">HOW SOON WILL I SEE RESULTS?</h4>
  <p class="text-justify">It will take 3-4 months of consistent application before you notice improvements. You may notice an increase in shedding in the first month of use, this is normal and should slow after the first month. Some people also see changes in hair color or texture after use. If you do not see results within 4-6 months of use, consider discontinuing and consulting your doctor.</p>
  <div class="description">
    <div class="text">
      <p><span class="text-s-red">Suavecito 5% Minoxidil Topical Solution</span> <span class="text-justify">is for men who have a general thinning of hair on the scalp (vertex only, as shown in diagram). Not intended for frontal baldness or a receding hairline.</span></p>
      <p class="text-justify">If men have more hair loss or hair loss in a place different than shown below, Suavecito 5% Minoxidil Topical Solution may not work.</p>
      <div style="border: 1px solid #822808;"></div>
      <p class="text-medium">See Minoxidil packaging for full Drug Facts and lists of restrictions and side effects. We recommend consulting your physician before starting use of any new medicated product.</p>
    </div>
    <div class="image">
      <img 
        data-s-module="LazyImage"
        class="responsive-img center-img"
        data-src="{{ 'suavecito-hair-treatment-before-after-1-w.jpg' | asset_img_url: '300x' }}"
        data-src="{{ 'suavecito-hair-treatment-before-after-1-w.jpg' | asset_img_url: '50x' }}"
        data-src="{{ 'suavecito-hair-treatment-before-after-1-w.jpg' | asset_img_url: '800x' }}"
        alt="Before & After. With continued use of minoxidil and styled with Matte Hair Cream W/ DHT Blocker."
      />
      <p class="text-s-red text-center"><span class="text-large">BEFORE & AFTER</span><br/><span class="text-small">WITH CONTINUED USE OF MINOXIDIL, AND STYLED WITH MATTE HAIR CREAM W/ DHT BLOCKER.</span></p>
    </div>
  </div>
</div>