<div class="product-details">
  {% if display_title %}
  <div class="underlined">
    <h4>THICKENING SHAMPOO & CONDITIONER W/ NIACINAMIDE</h4>
  </div>
  {% endif %}
  <h4 class="text-s-red">WHAT IS NIACINAMIDE?</h4>
  <p class="text-justify">Niacinamide, also known as nicotinamide, is a form of Vitamin B3 that is beneficial to hair health and can potentially speed up the rate of hair regrowth seen in combination with minoxidil and a DHT blocker. Niacinamide is also thought to restore damaged hair and increase body and suppleness of hair for the appearance of thicker locks.</p>
  <h4 class="text-s-red">WHAT OTHER BENEFICIAL INGREDIENTS ARE IN HERE?</h4>
  <p class="text-justify">Both our Thickening Shampoo and Conditioner contain niacinamide as well as other ingredients that are popular in hair loss shampoos for their hair growth benefits.</p>
  <p><span class="text-s-red text-bold">Rosemary Oil</span><span class="text-justify"> - Found in both our Thickening Shampoo and Conditioner, rosemary oil has been commonly used to promote hair groth similar to minoxidil.</span></p>
  <p><span class="text-s-red text-bold">Panthenol</span><span class="text-justify"> - Found in our Thickening Shampoo is believed to have benefits for hair thickness and moisture retention.</span></p>
  <p><span class="text-s-red text-bold">Aloe Barbadensis Leaf Juice</span><span class="text-justify"> - Found in our Thickening Shampoo, aloe may help promote a healthy scalp and help condition and repair damaged hair.</span></p>
  <p><span class="text-s-red text-bold">Biotin</span><span class="text-justify">  - Found in our Thickening Conditioner, is a form of Vitamin B. While there is little known about the effects of biotihn on hair growth, a biotin deficiency is known to lead to hair loss, indicating it is important to your hair health.</span></p>
  <p><span class="text-s-red text-bold">Caffeine</span><span class="text-justify"> - Found in our Thickening Conditioner, caffeine has been shown to extend the growth phase of hair follicles and works well in combination with minoxidil and or DHT blockers.</span></p>
  <h4 class="text-s-red">HOW SOON WILL I SEE RESULTS?</h4>
  <p class="text-justify">Using this Thickening Shampoo & Conditioner in conjunction with minoxidil and a DHT blocker is the best way to see results, especially around the hairline, which isn't typically helped by minoxidil or DHT blockers. Results typically take 4-6 months to see.</p>
</div>