
<div class="product-details">
  {% if display_title %}
  <div class="underlined">
    <h4>MATTE HAIR CREAM W/ DHT BLOCKER</h4>
  </div>
  {% endif %}
  <h4 class="text-s-red">WHAT IS DHT?</h4>
  <p class="text-justify">DHT stands for Dihydrotestosterone, a male sex hormone which is made from testosterone. DHT affects those genetically prone to male pattern baldness by binding to receptors in the scalp and causes hair follicles to miniaturize (shrink and weaken) and eventually stop growing hair at all.</p>
  <h4 class="text-s-red">WHAT DOES A DHT BLOCKER DO?</h4>
  <p class="text-justify">The specific form of a DHT blocker in the Matte Hair Cream is a topical formula with serenoa serrulata fruit extract, which helps encourage hair growth. Serenoa serrulata fruit extract has the potential to lower the conversion of testosterone to DHT and reduce the DHT levels in the scalp. Putting it in a styling product is a great way to add it to your daily routine without having to think about it too much.</p>
  <div class="description">
    <div class="image">
      <img 
        data-s-module="LazyImage"
        class="responsive-img center-img"
        data-src="{{ 'suavecito-hair-treatment-before-after-2-w.jpg' | asset_img_url: '300x' }}"
        data-src="{{ 'suavecito-hair-treatment-before-after-2-w.jpg' | asset_img_url: '50x' }}"
        data-src="{{ 'suavecito-hair-treatment-before-after-2-w.jpg' | asset_img_url: '800x' }}"
        alt="Before & After. Styled with Matte Hair Cream W/ DHT Blocker."
      />
      <p class="text-s-red text-center"><span class="text-large">BEFORE & AFTER</span><br/><span class="text-small">STYLED WITH MATTE HAIR CREAM W/ DHT BLOCKER.</span></p>
    </div>
    <div class="text">
      <h4 class="text-s-red">HOW SOON WILL I SEE RESULTS?</h4>
      <p class="text-justify">With continued use, you should see results in 4-6 months.</p>
      <p class="text-justify">We recommend consulting your physician before starting use of any new medicated product. If you are currently taking a finastride, consult your doctor before using this product.</p>
    </div>
  </div>
</div>