{%- unless collection_handle -%}
  {%- assign collection_handle = 'all' -%}
{%- endunless -%}
{%- unless product_limit -%}
  {%- assign product_limit = 6 -%}
{%- endunless -%}

{%- for product in collections[collection_handle].all_products limit: product_limit -%}
<p>{{product.title}}</p>
{%- endfor -%}
