<table id="apparelSizeChart">
  <tr>
    <th>(IN)</th>
    <th>S</th>
    <th>M</th>
    <th>L</th>
    <th>XL</th>
  </tr>
  <tr>
    <th>Body Length</th>
    <td>25.375"</td>
    <td>26"</td>
    <td>26.625"</td>
    <td>27.25"</td>
  </tr>
  <tr>
    <th>Body Width</th>
    <td>15.5"</td>
    <td>16.5"</td>
    <td>17.5"</td>
    <td>19"</td>
  </tr>
  <tr>
    <th>Sleeve Length</th>
    <td>24.25"</td>
    <td>24.75"</td>
    <td>25.25"</td>
    <td>25.75"</td>
  </tr>
</table>