<table id="apparelSizeChart">
  <tr>
    <th>(IN)</th>
    <th>S</th>
    <th>M</th>
    <th>L</th>
    <th>XL</th>
    <th>2XL</th>
    <th>3XL</th>
  </tr>
  <tr>
    <th>Body Length (From HPS)</th>
    <td>29"</td>
    <td>30"</td>
    <td>31"</td>
    <td>32"</td>
    <td>33"</td>
    <td>34"</td>
  </tr>
  <tr>
    <th>Chest Width (1" Below Armhole)</th>
    <td>21"</td>
    <td>22"</td>
    <td>23"</td>
    <td>24.5"</td>
    <td>26"</td>
    <td>27.5"</td>
  </tr>
  <tr>
    <th>Sleeve Length (From Shoulder To Sleeve Hem)</th>
    <td>26"</td>
    <td>27"</td>
    <td>28"</td>
    <td>29"</td>
    <td>30"</td>
    <td>31"</td>
  </tr>
</table>