<table id="apparelSizeChart">
  <tr>
    <th>(IN)</th>
    <th>XS</th>
    <th>S</th>
    <th>M</th>
    <th>L</th>
    <th>XL</th>
    <th>2XL</th>
  </tr>
  <tr>
    <th>Body Length</th>
    <td>23 1/2"</td>
    <td>24 1/2"</td>
    <td>25 1/2"</td>
    <td>26 1/2"</td>
    <td>27 1/2"</td>
    <td>28 1/2"</td>
  </tr>
</table>