<table id="apparelSizeChart">
  <tr>
    <th>(IN)</th>
    <th>XS</th>
    <th>S</th>
    <th>M</th>
    <th>L</th>
    <th>XL</th>
    <th>2XL</th>
  </tr>
  <tr>
    <th>HPS Length</th>
    <td>25 3/4"</td>
    <td>26 3/8"</td>
    <td>27"</td>
    <td>27 5/8"</td>
    <td>28 1/4"</td>
    <td>28 7/8"</td>
  </tr>
  <tr>
    <th>Bust (1" Below Armhole)</th>
    <td>13"</td>
    <td>14"</td>
    <td>15"</td>
    <td>16"</td>
    <td>17 1/2"</td>
    <td>19"</td>
  </tr>
</table>