<table id="apparelSizeChart">
  <tr>
    <th>(IN)</th>
    <th>S</th>
    <th>M</th>
    <th>L</th>
    <th>XL</th>
    <th>2XL</th>
  </tr>
  <tr>
    <th>Body Length</th>
    <td>28"</td>
    <td>29"</td>
    <td>30 1/2"</td>
    <td>31 1/4"</td>
    <td>32 1/4"</td>
  </tr>
  <tr>
    <th>Chest</th>
    <td>35"</td>
    <td>39"</td>
    <td>43"</td>
    <td>47"</td>
    <td>51"</td>
  </tr>
</table>