<table id="apparelSizeChart">
  <tr>
    <th>(IN)</th>
    <th>S</th>
    <th>M</th>
    <th>L</th>
    <th>XL</th>
    <th>2XL</th>
    <th>3XL</th>
    <th>4XL</th>
    <th>5XL</th>
  </tr>
  <tr>
    <th>Width</th>
    <td>18"</td>
    <td>20"</td>
    <td>22"</td>
    <td>24"</td>
    <td>26"</td>
    <td>28"</td>
    <td>30"</td>
    <td>32"</td>
  </tr>
  <tr>
    <th>Length</th>
    <td>28"</td>
    <td>29"</td>
    <td>30"</td>
    <td>31"</td>
    <td>32"</td>
    <td>33"</td>
    <td>34"</td>
    <td>35"</td>
  </tr>
  <tr>
    <th>Sleeve Center Back</th>
    <td>15.63"</td>
    <td>17"</td>
    <td>18.5"</td>
    <td>20"</td>
    <td>21.5"</td>
    <td>22.88"</td>
    <td>24.25"</td>
    <td>25.37"</td>
  </tr>
</table>