<table id="apparelSizeChart">
  <tr>
    <th>(CM)</th>
    <th></th>
    <th>S</th>
    <th>M</th>
    <th>L</th>
    <th>XL</th>
    <th>2XL</th>
  </tr>
  <tr>
    <th>Waistband</th>
    <th>Circumference</th>
    <td>60</td>
    <td>64</td>
    <td>68</td>
    <td>72</td>
    <td>76</td>
  </tr>
  <tr>
    <th>Hip</th>
    <th>9 cm above rise</th>
    <td>94</td>
    <td>98</td>
    <td>102</td>
    <td>106</td>
    <td>110</td>
  </tr>
  <tr>
    <th>Legs Opening</th>
    <th>Circumference</th>
    <td>54</td>
    <td>56</td>
    <td>58</td>
    <td>60</td>
    <td>62</td>
  </tr>
  <tr>
    <th>Length</th>
    <th>From waist to leg opening</th>
    <td>20.5</td>
    <td>21.5</td>
    <td>22.5</td>
    <td>23.5</td>
    <td>24.5</td>
  </tr>
</table>