<table id="apparelSizeChart">
  <tr>
    <th>(IN)</th>
    <th>XS</th>
    <th>S</th>
    <th>M</th>
    <th>L</th>
    <th>XL</th>
    <th>2XL</th>
  </tr>
  <tr>
    <th>Waist</th>
    <td>26"</td>
    <td>28"</td>
    <td>30"</td>
    <td>32"</td>
    <td>34"</td>
    <td>36"</td>
  </tr>
  <tr>
    <th>Inseam</th>
    <td>28"</td>
    <td>28.5"</td>
    <td>29"</td>
    <td>29.5"</td>
    <td>30"</td>
    <td>30"</td>
  </tr>
</table>