<table id="apparelSizeChart">
  <tr>
    <th>(CM)</th>
    <th>S</th>
    <th>M</th>
    <th>L</th>
    <th>XL</th>
    <th>2XL</th>
    <th>3XL</th>
    <th>4XL</th>
  </tr>
  <tr>
    <th>Shoulder To Shoulder</th>
    <td>45.5</td>
    <td>47.5</td>
    <td>49.5</td>
    <td>51.5</td>
    <td>53.5</td>
    <td>55.5</td>
    <td>57.5</td>
  </tr>
  <tr>
    <th>Armpit To Armpit</th>
    <td>50</td>
    <td>53</td>
    <td>56</td>
    <td>59</td>
    <td>62</td>
    <td>65</td>
    <td>68</td>
</tr>
    <tr>
    <th>Bottom</th>
    <td>50</td>
    <td>53</td>
    <td>56</td>
    <td>59</td>
    <td>62</td>
    <td>65</td>
    <td>68</td>
  </tr>
  <tr>
    <th>Sleeve Length</th>
    <td>21.5</td>
    <td>22.5</td>
    <td>23.5</td>
    <td>24.5</td>
    <td>25.5</td>
    <td>26.5</td>
    <td>27.5</td>
  </tr>
  <tr>
    <th>Sleeve Opening</th>
    <td>18</td>
    <td>18.5</td>
    <td>19</td>
    <td>19.5</td>
    <td>20</td>
    <td>20.5</td>
    <td>21</td>
  </tr>
  <tr>
    <th>Body Length</th>
    <td>72.5</td>
    <td>74.5</td>
    <td>76.5</td>
    <td>78.5</td>
    <td>80.5</td>
    <td>82.5</td>
    <td>84.5</td>
  </tr>
</table>