<table id="apparelSizeChart">
  <tr>
    <th>(IN)</th>
    <th>S</th>
    <th>M</th>
    <th>L</th>
    <th>XL</th>
    <th>2XL</th>
    <th>3XL</th>
  </tr>
  <tr>
    <th>Body Width (1" Below Armhole)</th>
    <td>20"</td>
    <td>22"</td>
    <td>24"</td>
    <td>26"</td>
    <td>28"</td>
    <td>30"</td>
  </tr>
  <tr>
    <th>Body Length (HPS to Edge)</th>
    <td>28"</td>
    <td>29"</td>
    <td>30"</td>
    <td>31"</td>
    <td>32"</td>
    <td>33"</td>
  </tr>
  <tr>
    <th>Neck Opening (Seam to Seam)</th>
    <td>10"</td>
    <td>10"</td>
    <td>10 3/4"</td>
    <td>11 3/4"</td>
    <td>13"</td>
    <td>13"</td>
  </tr>
  <tr>
    <th>Hood Height (Center Hood)</th>
    <td>15"</td>
    <td>15"</td>
    <td>15 1/2"</td>
    <td>15 1/2"</td>
    <td>15 3/4"</td>
    <td>15 3/4"</td>
  </tr>
  <tr>
    <th>Hood Width</th>
    <td>9 1/2"</td>
    <td>10 1/4"</td>
    <td>11"</td>
    <td>11 3/4"</td>
    <td>12 1/2"</td>
    <td>12 1/2"</td>
  </tr>
  <tr>
    <th>Shoulder Width (Seam to Seam)</th>
    <td>19 1/2"</td>
    <td>21 1/2"</td>
    <td>23 1/2"</td>
    <td>25 1/2"</td>
    <td>27 1/2"</td>
    <td>29 1/2"</td>
  </tr>
  <tr>
    <th>Waistband (Relaxed)</th>
    <td>18"</td>
    <td>19"</td>
    <td>20"</td>
    <td>21"</td>
    <td>22"</td>
    <td>23"</td>
  </tr>
  <tr>
    <th>Waistband Height (Set In)</th>
    <td>2 1/4"</td>
    <td>2 1/4"</td>
    <td>2 1/4"</td>
    <td>2 1/4"</td>
    <td>2 1/4"</td>
    <td>2 1/4"</td>
  </tr>
  <tr>
    <th>Armhole (Straight)</th>
    <td>9 3/4"</td>
    <td>10 3/4"</td>
    <td>11 3/4"</td>
    <td>12 1/2"</td>
    <td>13"</td>
    <td>13 1/2"</td>
  </tr>
  <tr>
    <th>Cuff Opening (Relaxed)</th>
    <td>3 1/2"</td>
    <td>3 1/2"</td>
    <td>4"</td>
    <td>4"</td>
    <td>4"</td>
    <td>4 1/2"</td>
  </tr>
  <tr>
    <th>Cuff Height (Set In)</th>
    <td>2 1/4"</td>
    <td>2 1/4"</td>
    <td>2 1/4"</td>
    <td>2 1/4"</td>
    <td>2 1/4"</td>
    <td>2 1/4"</td>
  </tr>
</table>