<table id="apparelSizeChart">
  <tr>
    <th>(IN)</th>
    <th>2T</th>
    <th>3T</th>
    <th>4T</th>
    <th>5T</th>
    <th>6T</th>
  </tr>
  <tr>
    <th>Body Length</th>
    <td>15"</td>
    <td>16"</td>
    <td>17"</td>
    <td>18"</td>
    <td>19"</td>
  </tr>
  <tr>
    <th>Body Length Tolerance</th>
    <td>1"</td>
    <td>1"</td>
    <td>1"</td>
    <td>1"</td>
    <td>1"</td>
  </tr>
  <tr>
    <th>Body Width</th>
    <td>11"</td>
    <td>12"</td>
    <td>13"</td>
    <td>14"</td>
    <td>15"</td>
  </tr>
  <tr>
    <th>Body Width Tolerance</th>
    <td>1/2"</td>
    <td>1/2"</td>
    <td>1/2"</td>
    <td>1/2"</td>
    <td>1/2"</td>
  </tr>
</table>