<table id="apparelSizeChart">
  <tr>
    <th>(IN)</th>
    <th>S</th>
    <th>M</th>
    <th>L</th>
    <th>XL</th>
    <th>2XL</th>
    <th>3XL</th>
  </tr>
  <tr>
    <th>Body Width</th>
    <td>18"</td>
    <td>20"</td>
    <td>22"</td>
    <td>24"</td>
    <td>26"</td>
    <td>28"</td>
  </tr>
  <tr>
    <th>Body Length</th>
    <td>28"</td>
    <td>29"</td>
    <td>31"</td>
    <td>32"</td>
    <td>33"</td>
    <td>34"</td>
  </tr>
  <tr>
    <th>Neck Opening</th>
    <td>8"</td>
    <td>8"</td>
    <td>9"</td>
    <td>9"</td>
    <td>9 1/2"</td>
    <td>10"</td>
  </tr>
  <tr>
    <th>Binding Fldr Width</th>
    <td>3/8"</td>
    <td>3/8"</td>
    <td>3/8"</td>
    <td>3/8"</td>
    <td>3/8"</td>
    <td>3/8"</td>
  </tr>
  <tr>
    <th>Shoulder Width</th>
    <td>11 1/4"</td>
    <td>11 1/4"</td>
    <td>12 1/4"</td>
    <td>12 1/4"</td>
    <td>12 1/2"</td>
    <td>14 3/8"</td>
  </tr>
  <tr>
    <th>Bottom Hem (Straight 1")</th>
    <td>1"</td>
    <td>1"</td>
    <td>1"</td>
    <td>1"</td>
    <td>1"</td>
    <td>1"</td>
  </tr>
  <tr>
    <th>Armhole (Curved)</th>
    <td>11"</td>
    <td>12"</td>
    <td>13"</td>
    <td>14"</td>
    <td>15"</td>
    <td>17"</td>
  </tr>
  <tr>
    <th>Strap Width (Outside to Outside)</th>
    <td>2"</td>
    <td>2"</td>
    <td>2"</td>
    <td>2"</td>
    <td>2"</td>
    <td>2"</td>
  </tr>
</table>