<table id="apparelSizeChart">
  <tr>
    <th>(IN)</th>
    <th>S</th>
    <th>M</th>
    <th>L</th>
    <th>XL</th>
    <th>2XL</th>
  </tr>
  <tr>
    <th>High Point Shoulder Length</th>
    <td>28.5"</td>
    <td>29.5"</td>
    <td>30.5"</td>
    <td>31.5"</td>
    <td>32.5"</td>
  </tr>
  <tr>
    <th>Bust 1" Below Armhole</th>
    <td>18.5"</td>
    <td>20"</td>
    <td>21.5"</td>
    <td>23.5"</td>
    <td>25.5"</td>
  </tr>
</table>