<table id="apparelSizeChart">
  <tr>
    <th>(IN)</th>
    <th>XS</th>
    <th>S</th>
    <th>M</th>
    <th>L</th>
    <th>XL</th>
    <th>2XL</th>
  </tr>
  <tr>
    <th>Body Width</th>
    <td>17"</td>
    <td>18 1/2"</td>
    <td>20 1/2"</td>
    <td>22 1/4"</td>
    <td>24"</td>
    <td>25 1/4"</td>
  </tr>
  <tr>
    <th>Body Length</th>
    <td>26 1/3"</td>
    <td>27 1/2"</td>
    <td>29"</td>
    <td>30 1/4"</td>
    <td>32"</td>
    <td>33 3/4"</td>
  </tr>
</table>