<table id="apparelSizeChart">
  <tr>
    <th>(CM)</th>
    <th>S</th>
    <th>M</th>
    <th>L</th>
    <th>XL</th>
    <th>2XL</th>
    <th>3XL</th>
    <th>4XL</th>
    <th>5XL</th>
  </tr>
  <tr>
    <th>Width</th>
    <td>51</td>
    <td>56</td>
    <td>61</td>
    <td>66</td>
    <td>71</td>
    <td>76</td>
    <td>81</td>
    <td>86</td>
  </tr>
  <tr>
    <th>Length</th>
    <td>69</td>
    <td>71</td>
    <td>74</td>
    <td>76</td>
    <td>79</td>
    <td>81</td>
    <td>84</td>
    <td>86</td>
  </tr>
</table>