<table id="apparelSizeChart">
  <tr>
    <th>(IN)</th>
    <th>S</th>
    <th>M</th>
    <th>L</th>
    <th>XL</th>
    <th>2XL</th>
  </tr>
  <tr>
    <th>Chest</th>
    <td>16"</td>
    <td>16 3/4"</td>
    <td>17 3/4"</td>
    <td>18 3/4"</td>
    <td>19 3/4</td>
  </tr>
  <tr>
    <th>Body Length (From HPS)</th>
    <td>26 1/4"</td>
    <td>26 1/2"</td>
    <td>27 3/8"</td>
    <td>28"</td>
    <td>28 5/8"</td>
  </tr>
</table>