<table id="apparelSizeChart">
  <tr>
    <th>(IN)</th>
    <th>S</th>
    <th>M</th>
    <th>L</th>
    <th>XL</th>
    <th>2XL</th>
  </tr>
  <tr>
    <th>Bust</th>
    <td>32 - 34"</td>
    <td>35 - 36"</td>
    <td>37 - 38"</td>
    <td>39 - 40"</td>
    <td>41 - 42"</td>
  </tr>
</table>