<table id="apparelSizeChart">
  <tr>
    <th>(IN)</th>
    <th>S</th>
    <th>M</th>
    <th>L</th>
    <th>XL</th>
    <th>2XL</th>
  </tr>
  <tr>
    <th>Body Length</th>
    <td>25.375"</td>
    <td>26"</td>
    <td>26.625"</td>
    <td>27.25"</td>
    <td>27.875"</td>
  </tr>
  <tr>
    <th>Bust</th>
    <td>29.5"</td>
    <td>31.5"</td>
    <td>33.5"</td>
    <td>36.5"</td>
    <td>39.5"</td>
  </tr>
  <tr>
    <th>Neck</th>
    <td>7.25"</td>
    <td>7.5"</td>
    <td>7.75"</td>
    <td>8"</td>
    <td>8.25"</td>
  </tr>
  <tr>
    <th>Sleeve Length</th>
    <td>5.25"</td>
    <td>5.5"</td>
    <td>5.75"</td>
    <td>6"</td>
    <td>6.25"</td>
  </tr>
</table>