<table id="apparelSizeChart">
  <tr>
    <th>(IN)</th>
    <th>S</th>
    <th>M</th>
    <th>L</th>
    <th>XL</th>
    <th>2XL</th>
    <th>3XL</th>
  </tr>
  <tr>
    <th>Body Width</th>
    <td>18"</td>
    <td>20"</td>
    <td>22"</td>
    <td>24"</td>
    <td>26"</td>
    <td>28"</td>
  </tr>
  <tr>
    <th>Body Length</th>
    <td>28"</td>
    <td>29"</td>
    <td>31"</td>
    <td>32"</td>
    <td>33"</td>
    <td>34"</td>
  </tr>
  <tr>
    <th>Sleeve Length (Armhole to Edge)</th>
    <td>8"</td>
    <td>8 3/4"</td>
    <td>9"</td>
    <td>9 1/2"</td>
    <td>9 1/2"</td>
    <td>10"</td>
  </tr>
    <tr>
    <th>Tol +/-</th>
    <td>1/2"</td>
    <td>1/2"</td>
    <td>1/2"</td>
    <td>1/2"</td>
    <td>1/2"</td>
    <td>1/2"</td>
  </tr>
</table>