<table id="apparelSizeChart">
  <tr>
    <th>(IN)</th>
    <th>XS</th>
    <th>S</th>
    <th>M</th>
    <th>L</th>
    <th>XL</th>
    <th>2XL</th>
  </tr>
  <tr>
    <th>Body Length</th>
    <td>27 3/4"</td>
    <td>28 1/2"</td>
    <td>29 1/4"</td>
    <td>30"</td>
    <td>30 3/4"</td>
    <td>31 1/2"</td>
  </tr>
  <tr>
    <th>Body Width</th>
    <td>21 1/2"</td>
    <td>22 1/2"</td>
    <td>23 1/2"</td>
    <td>24 1/2"</td>
    <td>25 1/2"</td>
    <td>26 1/2"</td>
  </tr>
  <tr>
    <th>Body Width</th>
    <td>31"</td>
    <td>32"</td>
    <td>33"</td>
    <td>34"</td>
    <td>35"</td>
    <td>35 1/2"</td>
  </tr>
</table>