<table id="apparelSizeChart">
  <tr>
    <th>(IN)</th>
    <th>S</th>
    <th>M</th>
    <th>L</th>
    <th>XL</th>
    <th>2XL</th>
  </tr>
  <tr>
    <th>Body Length</th>
    <td>25"</td>
    <td>26"</td>
    <td>27"</td>
    <td>28"</td>
    <td>29 1/2"</td>
  </tr>
  <tr>
    <th>Bust</th>
    <td>36"</td>
    <td>38"</td>
    <td>42"</td>
    <td>46"</td>
    <td>50"</td>
  </tr>
  <tr>
    <th>Sleeve Length</th>
    <td>5 3/4"</td>
    <td>6"</td>
    <td>6 1/4"</td>
    <td>6 1/2"</td>
    <td>6 3/4"</td>
  </tr>
</table>