<table id="apparelSizeChart">
  <tr>
    <th>(IN)</th>
    <th>XS</th>
    <th>S</th>
    <th>M</th>
    <th>L</th>
    <th>XL</th>
    <th>2XL</th>
  </tr>
  <tr>
    <th>Chest</th>
    <td>27"</td>
    <td>27 1/2"</td>
    <td>28"</td>
    <td>28 3/4"</td>
    <td>29"</td>
    <td>29 1/2"</td>
  </tr>
  <tr>
    <th>Body Length (From HPS)</th>
    <td>14"</td>
    <td>15"</td>
    <td>16"</td>
    <td>17"</td>
    <td>18"</td>
    <td>19"</td>
  </tr>
</table>