<table id="apparelSizeChart">
  <tr>
    <th>(IN)</th>
    <th>S</th>
    <th>M</th>
    <th>L</th>
    <th>XL</th>
    <th>2XL</th>
    <th>3XL</th>
  </tr>
  <tr>
    <th>Body Length (From HPS)</th>
    <td>25.5"</td>
    <td>26.5"</td>
    <td>27.5"</td>
    <td>28.5"</td>
    <td>29.5"</td>
    <td>30.5"</td>
    <td>31.5"</td>
  </tr>
  <tr>
    <th>Chest Width (1" Below Armhole)</th>
    <td>19"</td>
    <td>20"</td>
    <td>21"</td>
    <td>22"</td>
    <td>23"</td>
    <td>24"</td>
    <td>25"</td>
  </tr>
  <tr>
    <th>Sleeve Length (From Center Back to Hem)</th>
    <td>32"</td>
    <td>33"</td>
    <td>34"</td>
    <td>35.25"</td>
    <td>36.5"</td>
    <td>37.75"</td>
    <td>39</td>
  </tr>
</table>