<table id="apparelSizeChart">
  <tr>
    <th>(IN)</th>
    <th>XS</th>
    <th>S</th>
    <th>M</th>
    <th>L</th>
    <th>XL</th>
  </tr>
  <tr>
    <th>Body Width</th>
    <td>17.5"</td>
    <td>18.5"</td>
    <td>19.5"</td>
    <td>20.5"</td>
    <td>21.5"</td>
  </tr>
  <tr>
    <th>Body Length</th>
    <td>24.5"</td>
    <td>25"</td>
    <td>25.5"</td>
    <td>25.75"</td>
    <td>26.25"</td>
  </tr>
</table>