<table id="apparelSizeChart">
  <tr>
    <th>(IN)</th>
    <th>XS</th>
    <th>S</th>
    <th>M</th>
    <th>L</th>
    <th>XL</th>
  </tr>
  <tr>
    <th>Body Length</th>
    <td>20 1/2"</td>
    <td>22"</td>
    <td>23 1/2"</td>
    <td>25"</td>
    <td>26 1/2"</td>
  </tr>
  <tr>
    <th>Body Length Tolerance</th>
    <td>1"</td>
    <td>1"</td>
    <td>1"</td>
    <td>1"</td>
    <td>1"</td>
  </tr>
  <tr>
    <th>Body Width</th>
    <td>16"</td>
    <td>17"</td>
    <td>18"</td>
    <td>19"</td>
    <td>20"</td>
  </tr>
  <tr>
    <th>Body Width Tolerance</th>
    <td>1/2"</td>
    <td>1/2"</td>
    <td>1/2"</td>
    <td>1/2"</td>
    <td>1/2"</td>
  </tr>
  <tr>
    <th>Sizes</th>
    <td>6-8</td>
    <td>10-12</td>
    <td>14-16</td>
    <td>18-20</td>
    <td>22-24</td>
  </tr>
  <tr>
    <th>Sleeve Length</th>
    <td>13 1/2"</td>
    <td>14 1/2"</td>
    <td>15 1/2"</td>
    <td>16 1/2"</td>
    <td>17 1/2"</td>
  </tr>
</table>