<table id="apparelSizeChart">
  <tr>
    <th>(CM)</th>
    <th>S</th>
    <th>M</th>
    <th>L</th>
    <th>XL</th>
    <th>2XL</th>
  </tr>
  <tr>
    <th>Front Body Length</th>
    <td>72</td>
    <td>74</td>
    <td>76</td>
    <td>78</td>
    <td>80</td>
  </tr>
  <tr>
    <th>Shoulder Width</th>
    <td>46</td>
    <td>48</td>
    <td>50</td>
    <td>52</td>
    <td>54</td>
  </tr>
  <tr>
    <th>Chest Width</th>
    <td>58</td>
    <td>60</td>
    <td>62</td>
    <td>64</td>
    <td>66</td>
  </tr>
  <tr>
    <th>Hem Width</th>
    <td>55</td>
    <td>57</td>
    <td>59</td>
    <td>61</td>
    <td>63</td>
  </tr>
  <tr>
    <th>Sleeve Length</th>
    <td>26</td>
    <td>27</td>
    <td>28</td>
    <td>29</td>
    <td>30</td>
  </tr>
  <tr>
    <th>Cuff Width</th>
    <td>19</td>
    <td>19.5</td>
    <td>20.5</td>
    <td>21.5</td>
    <td>22.5</td>
  </tr>
  <tr>
    <th>Arm Hole Width</th>
    <td>24.5</td>
    <td>25.5</td>
    <td>26.5</td>
    <td>28.5</td>
    <td>29.5</td>
  </tr>
  <tr>
    <th>Neck Width</th>
    <td>12.42</td>
    <td>12.92</td>
    <td>13.42</td>
    <td>13.92</td>
    <td>14.42</td>
  </tr>
  <tr>
    <th>Collar Height</th>
    <td>3</td>
    <td>3</td>
    <td>3</td>
    <td>3</td>
    <td>3</td>
  </tr>
</table>