<table id="apparelSizeChart">
  <tr>
    <th>(IN)</th>
    <th>S</th>
    <th>M</th>
    <th>L</th>
    <th>XL</th>
    <th>2XL</th>
  </tr>
  <tr>
    <th>Highest Point Shoulder Length</th>
    <td>22 1/2"</td>
    <td>24"</td>
    <td>24 1/2"</td>
    <td>26"</td>
    <td>26 1/2</td>
  </tr>
  <tr>
    <th>Bust (1" Below Armhole)</th>
    <td>14 1/2"</td>
    <td>15"</td>
    <td>15 1/2"</td>
    <td>16"</td>
    <td>17"</td>
  </tr>
  <tr>
    <th>Across Shoulders (Seam To Seam)</th>
    <td>8 1/2"</td>
    <td>8 1/2"</td>
    <td>10"</td>
    <td>10"</td>
    <td>11"</td>
  </tr>
  <tr>
    <th>Front Neck Drop (Seam)</th>
    <td>20"</td>
    <td>21"</td>
    <td>22"</td>
    <td>22 1/2"</td>
    <td>23"</td>
  </tr>
  <tr>
    <th>Sleeve Hem</th>
    <td>17"</td>
    <td>18"</td>
    <td>18 1/2"</td>
    <td>19"</td>
    <td>19 1/2"</td>
  </tr>
  <tr>
    <th>Sweep Hem</th>
    <td>10"</td>
    <td>11"</td>
    <td>12"</td>
    <td>13"</td>
    <td>14"</td>
  </tr>
  <tr>
    <th>Neckband Width</th>
    <td>7"</td>
    <td>7"</td>
    <td>7"</td>
    <td>7"</td>
    <td>7"</td>
  </tr>
</table>