<table id="apparelSizeChart">
  <tr>
    <th>(IN)</th>
    <th>2T</th>
    <th>3T</th>
    <th>4T</th>
  </tr>
  <tr>
    <th>Body Length</th>
    <td>14"</td>
    <td>15"</td>
    <td>16"</td>
  </tr>
  <tr>
    <th>Body Width</th>
    <td>11"</td>
    <td>12"</td>
    <td>13"</td>
  </tr>
</table>