<table id="apparelSizeChart">
  <tr>
    <th>(IN)</th>
    <th>XS</th>
    <th>S</th>
    <th>M</th>
    <th>L</th>
    <th>XL</th>
    <th>2XL</th>
  </tr>
  <tr>
    <th>Width</th>
    <td>37 1/4"</td>
    <td>39 1/4"</td>
    <td>43 1/2"</td>
    <td>47 1/4"</td>
    <td>54 1/4"</td>
    <td>55 1/4"</td>
  </tr>
  <tr>
    <th>Length</th>
    <td>31"</td>
    <td>34 1/2"</td>
    <td>32 1/8"</td>
    <td>32 3/4"</td>
    <td>33 1/4"</td>
    <td>33 7/8"</td>
  </tr>
</table>