<table id="apparelSizeChart">
  <tr>
    <th>(IN)</th>
    <th>NB</th>
    <th>6M</th>
    <th>12M</th>
    <th>18M</th>
    <th>24M</th>
  </tr>
  <tr>
    <th>Body Length</th>
    <td>10 3/4"</td>
    <td>11 3/4"</td>
    <td>12 3/4"</td>
    <td>13 3/4"</td>
    <td>14 3/4"</td>
  </tr>
  <tr>
    <th>Body Length Tolerance</th>
    <td>1"</td>
    <td>1"</td>
    <td>1"</td>
    <td>1"</td>
    <td>1"</td>
  </tr>
  <tr>
    <th>Body Width</th>
    <td>7 1/2"</td>
    <td>9"</td>
    <td>10"</td>
    <td>11"</td>
    <td>12"</td>
  </tr>
  <tr>
    <th>Body Width Tolerance</th>
    <td>1/2"</td>
    <td>1/2"</td>
    <td>1/2"</td>
    <td>1/2"</td>
    <td>1/2"</td>
  </tr>
  <tr>
    <th>Sleeve Length</th>
    <td>2 1/2"</td>
    <td>2 3/4"</td>
    <td>3"</td>
    <td>3 1/4"</td>
    <td>3 1/2"</td>
  </tr>
</table>