<table id="apparelSizeChart">
  <tr>
    <th>(IN)</th>
    <th>S</th>
    <th>M</th>
    <th>L</th>
    <th>XL</th>
    <th>2XL</th>
  </tr>
  <tr>
    <th>Body Length</th>
    <td>26"</td>
    <td>26 1/2"</td>
    <td>27 1/8"</td>
    <td>27 3/4"</td>
    <td>28 3/8"</td>
  </tr>
  <tr>
    <th>Body Width</th>
    <td>15 3/4"</td>
    <td>16 1/2"</td>
    <td>17 1/2"</td>
    <td>18 1/2"</td>
    <td>19 1/2"</td>
  </tr>
  <tr>
    <th>Tol +/-</th>
    <td>3/4"</td>
    <td>3/4"</td>
    <td>3/4"</td>
    <td>3/4"</td>
    <td>3/4"</td>
  </tr>
</table>