<table id="apparelSizeChart">
  <tr>
    <th>(IN)</th>
    <th>XS</th>
    <th>S</th>
    <th>M</th>
    <th>L</th>
    <th>XL</th>
    <th>2XL</th>
  </tr>
  <tr>
    <th>Width</th>
    <td>16"</td>
    <td>16 1/2"</td>
    <td>17 1/2"</td>
    <td>18 1/2"</td>
    <td>19 1/2"</td>
    <td>20 1/2"</td>
  </tr>
  <tr>
    <th>Length</th>
    <td>24 1/2"</td>
    <td>25"</td>
    <td>26"</td>
    <td>27"</td>
    <td>28"</td>
    <td>29"</td>
  </tr>
</table>