<table id="apparelSizeChart">
  <tr>
    <th>(IN)</th>
    <th>S</th>
    <th>M</th>
    <th>L</th>
    <th>XL</th>
    <th>2XL</th>
  </tr>
  <tr>
    <th>Body Length Front</th>
    <td>20 1/4"</td>
    <td>20 5/8"</td>
    <td>21 1/8"</td>
    <td>21 5/8"</td>
    <td>22 1/8"</td>
  </tr>
  <tr>
    <th>Body Width</th>
    <td>16"</td>
    <td>16 3/4"</td>
    <td>17 3/4"</td>
    <td>18 3/4"</td>
    <td>19 3/4"</td>
  </tr>
</table>