<table id="apparelSizeChart">
  <tr>
    <th>(IN)</th>
    <th>S</th>
    <th>M</th>
    <th>L</th>
    <th>XL</th>
    <th>2XL</th>
  </tr>
  <tr>
    <th>Body Length</th>
    <td>25 1/4"</td>
    <td>26"</td>
    <td>26 3/4"</td>
    <td>27 1/2"</td>
    <td>28 1/4</td>
  </tr>
  <tr>
    <th>Body Width</th>
    <td>18 1/2"</td>
    <td>20"</td>
    <td>22"</td>
    <td>24"</td>
    <td>26"</td>
  </tr>
  <tr>
    <th>Sleeve Length</th>
    <td>7 3/4"</td>
    <td>8 1/4"</td>
    <td>8 3/4"</td>
    <td>9 1/2"</td>
    <td>10 1/4"</td>
  </tr>
  <tr>
    <th>Tol +/-</th>
    <td>1/2"</td>
    <td>1/2"</td>
    <td>1/2"</td>
    <td>1/2"</td>
    <td>1/2"</td>
  </tr>
</table>