<table id="apparelSizeChart">
  <tr>
    <th>(IN)</th>
    <th>S</th>
    <th>M</th>
    <th>L</th>
    <th>XL</th>
    <th>2XL</th>
    <th>3XL</th>
  </tr>
  <tr>
    <th>Chest (1/5" Below A/H)</th>
    <td>20 1/2"</td>
    <td>21 4/2"</td>
    <td>22"</td>
    <td>22 7/8"</td>
    <td>23 5/8"</td>
    <td>24 3/8"</td>
  </tr>
  <tr>
    <th>From Length (From HPS)</th>
    <td>26"</td>
    <td>26 3/4"</td>
    <td>27 5/8"</td>
    <td>28 3/8"</td>
    <td>29 1/8"</td>
    <td>30"</td>
  </tr>
  <tr>
    <th>Armhole (Straight)</th>
    <td>11"</td>
    <td>11 3/8"</td>
    <td>11 7/8"</td>
    <td>12 1/4"</td>
    <td>12 5/8"</td>
    <td>13"</td>
  </tr>
  <tr>
    <th>Neck Width (Seam To Seam)</th>
    <td>8 1/4"</td>
    <td>8 1/4"</td>
    <td>8 5/8"</td>
    <td>8 5/8"</td>
    <td>9"</td>
    <td>9"</td>
  </tr>
  <tr>
    <th>Front Neck Drop (HPS To Seam)</th>
    <td>4 1/8"</td>
    <td>4 1/8"</td>
    <td>4 3/8"</td>
    <td>4 3/8"</td>
    <td>4 1/2"</td>
    <td>4 1/2"</td>
  </tr>
  <tr>
    <th>Back Neck Drop (HPS To Seam)</th>
    <td>1"</td>
    <td>1"</td>
    <td>1"</td>
    <td>1"</td>
    <td>1"</td>
    <td>1"</td>
  </tr>
  <tr>
    <th>Bottom Opening (Straight Across)</th>
    <td>16 1/2"</td>
    <td>17 3/8"</td>
    <td>18 1/8"</td>
    <td>19"</td>
    <td>19 5/8"</td>
    <td>20 3/8"</td>
  </tr>
  <tr>
    <th>Collar Rib Height</th>
    <td>1"</td>
    <td>1"</td>
    <td>1"</td>
    <td>1"</td>
    <td>1"</td>
    <td>1"</td>
  </tr>
  <tr>
    <th>Bottom Rib Height</th>
    <td>3"</td>
    <td>3"</td>
    <td>3"</td>
    <td>3"</td>
    <td>3"</td>
    <td>3"</td>
  </tr>
  <tr>
    <th>Cuff Height</th>
    <td>3"</td>
    <td>3"</td>
    <td>3"</td>
    <td>3"</td>
    <td>3"</td>
    <td>3"</td>
  </tr>
  <tr>
    <th>Cuff Opening At Seam</th>
    <td>3 1/4"</td>
    <td>3 1/4"</td>
    <td>3 1/2"</td>
    <td>3 1/2"</td>
    <td>3 3/4"</td>
    <td>3 3/4"</td>
  </tr>
  <tr>
    <th>Sleeve Length (From Neck Seam Armhole - Straight)</th>
    <td>30"</td>
    <td>30 1/4"</td>
    <td>30 5/8"</td>
    <td>31"</td>
    <td>31 3/8"</td>
    <td>32"</td>
  </tr>
  <tr>
    <th>Muscle (1/2" Below A/H)</th>
    <td>7"</td>
    <td>7 1/2"</td>
    <td>7 7/8"</td>
    <td>7 1/4"</td>
    <td>8 5/8"</td>
    <td>9"</td>
  </tr>
</table>