<table id="apparelSizeChart">
  <tr>
    <th>(IN)</th>
    <th>S</th>
    <th>M</th>
    <th>L</th>
    <th>XL</th>
    <th>2XL</th>
  </tr>
  <tr>
    <th>Body Width</th>
    <td>18 1/2"</td>
    <td>20 1/2"</td>
    <td>22 1/4"</td>
    <td>24"</td>
    <td>25 1/4"</td>
  </tr>
  <tr>
    <th>Body Length</th>
    <td>28"</td>
    <td>29 1/2"</td>
    <td>30 3/4"</td>
    <td>32 1/4"</td>
    <td>32 1/2"</td>
  </tr>
</table>