<table id="apparelSizeChart">
  <tr>
    <th>(IN)</th>
    <th>XS</th>
    <th>S</th>
    <th>M</th>
    <th>L</th>
  </tr>
  <tr>
    <th>Body Length</th>
    <td>26.12"</td>
    <td>26.75"</td>
    <td>28"</td>
    <td>29.25"</td>
  </tr>
  <tr>
    <th>Bust</th>
    <td>16.38"</td>
    <td>17.75"</td>
    <td>20.25"</td>
    <td>22.25"</td>
  </tr>
</table>