<table id="apparelSizeChart">
  <tr>
    <th>(IN)</th>
    <th>1</th>
    <th>2</th>
    <th>3</th>
    <th>4</th>
  </tr>
  <tr>
    <th>Numeric</th>
    <td>14 - 16"</td>
    <td>18 -20"</td>
    <td>22 - 24"</td>
    <td>26 - 28"</td>
  </tr>
  <tr>
    <th>Bust</th>
    <td>44 - 46"</td>
    <td>46 - 48"</td>
    <td>48 - 50"</td>
    <td>50 - 54"</td>
  </tr>
  <tr>
    <th>Waist</th>
    <td>42 - 44"</td>
    <td>44 - 46"</td>
    <td>46 - 48"</td>
    <td>48 - 52"</td>
  </tr>
  <tr>
    <th>Hip</th>
    <td>48 - 50"</td>
    <td>50 - 52"</td>
    <td>52 - 54"</td>
    <td>54 - 58"</td>
  </tr>
</table>