<table id="apparelSizeChart">
  <tr>
    <th>(IN)</th>
    <th>S</th>
    <th>M</th>
    <th>L</th>
    <th>XL</th>
    <th>2XL</th>
    <th>3XL</th>
    <th>4XL</th>
    <th>5XL</th>
  </tr>
  <tr>
    <th>Body Width</th>
    <td>18"</td>
    <td>20"</td>
    <td>22"</td>
    <td>24"</td>
    <td>26"</td>
    <td>28"</td>
    <td>30"</td>
    <td>32"</td>
  </tr>
  <tr>
    <th>Body Length</th>
    <td>27"</td>
    <td>29"</td>
    <td>31"</td>
    <td>32"</td>
    <td>33"</td>
    <td>34"</td>
    <td>35"</td>
    <td>36"</td>
  </tr>
  <tr>
    <th>Neck Opening</th>
    <td>7 1/2"</td>
    <td>7 1/2"</td>
    <td>8"</td>
    <td>8"</td>
    <td>8 1/2"</td>
    <td>8 1/2"</td>
    <td>9"</td>
    <td>9"</td>
  </tr>
  <tr>
    <th>Collar Height</th>
    <td>1"</td>
    <td>1"</td>
    <td>1"</td>
    <td>1"</td>
    <td>1"</td>
    <td>1"</td>
    <td>1"</td>
    <td>1"</td>
  </tr>
  <tr>
    <th>Shoulder Width</th>
    <td>17"</td>
    <td>19"</td>
    <td>21"</td>
    <td>23"</td>
    <td>25"</td>
    <td>27"</td>
    <td>29"</td>
    <td>31"</td>
  </tr>
  <tr>
    <th>Bottom Hem (Straight)</th>
    <td>1"</td>
    <td>1"</td>
    <td>1"</td>
    <td>1"</td>
    <td>1"</td>
    <td>1"</td>
    <td>1"</td>
    <td>1"</td>
  </tr>
  <tr>
    <th>Armhole (Straight)</th>
    <td>8 3/4"</td>
    <td>9 3/4"</td>
    <td>10 3/4"</td>
    <td>11 1/2"</td>
    <td>12 1/2"</td>
    <td>13 1/2"</td>
    <td>14 1/2"</td>
    <td>15 1/2"</td>
  </tr>
  <tr>
    <th>Sleeve Length (Armhole to Edge)</th>
    <td>22 1/4"</td>
    <td>23 1/4"</td>
    <td>24 1/4"</td>
    <td>25 1/4"</td>
    <td>26 1/4"</td>
    <td>27 1/4"</td>
    <td>28 1/4"</td>
    <td>29 1/4"</td>
  </tr>
  <tr>
    <th>Cuff Opening (Relaxed)</th>
    <td>3 3/4"</td>
    <td>3 3/4"</td>
    <td>4 3/4"</td>
    <td>4 3/4"</td>
    <td>4 3/4"</td>
    <td>4 3/4"</td>
    <td>5"</td>
    <td>5"</td>
  </tr>
  <tr>
    <th>Cuff Height (Set In)</th>
    <td>2 1/4"</td>
    <td>2 1/4"</td>
    <td>2 1/4"</td>
    <td>2 1/4"</td>
    <td>2 1/4"</td>
    <td>2 1/4"</td>
    <td>2 1/4"</td>
    <td>2 1/4"</td>
  </tr>
</table>