<table id="apparelSizeChart">
  <tr>
    <th>(IN)</th>
    <th>S</th>
    <th>M</th>
    <th>L</th>
    <th>XL</th>
    <th>2XL</th>
    <th>3XL</th>
  </tr>
  <tr>
    <th>Body Width</th>
    <td>20"</td>
    <td>22"</td>
    <td>24"</td>
    <td>26"</td>
    <td>28"</td>
    <td>30"</td>
  </tr>
  <tr>
    <th>Body Length</th>
    <td>28"</td>
    <td>29"</td>
    <td>30"</td>
    <td>31"</td>
    <td>32"</td>
    <td>33"</td>
  </tr>
  <tr>
    <th>Neck Opening</th>
    <td>8"</td>
    <td>8"</td>
    <td>8 1/2"</td>
    <td>8 1/2"</td>
    <td>9"</td>
    <td>9"</td>
  </tr>
  <tr>
    <th>Collar Height</th>
    <td>1 1/8"</td>
    <td>1 1/8"</td>
    <td>1 1/8"</td>
    <td>1 1/8"</td>
    <td>1 1/8"</td>
    <td>1 1/8"</td>
  </tr>
  <tr>
    <th>Shoulder Width (Seam to Seam)</th>
    <td>17"</td>
    <td>19"</td>
    <td>21"</td>
    <td>23"</td>
    <td>25"</td>
    <td>27"</td>
  </tr>
  <tr>
    <th>Waistband (Relaxed)</th>
    <td>15"</td>
    <td>16"</td>
    <td>18"</td>
    <td>20"</td>
    <td>22"</td>
    <td>24"</td>
  </tr>
  <tr>
    <th>Waistband Height (Set In)</th>
    <td>2 1/4"</td>
    <td>2 1/4"</td>
    <td>2 1/4"</td>
    <td>2 1/4"</td>
    <td>2 1/4"</td>
    <td>2 1/4"</td>
  </tr>
  <tr>
    <th>Armhole (Straight)</th>
    <td>9 1/2"</td>
    <td>10"</td>
    <td>10 1/2"</td>
    <td>11"</td>
    <td>11 1/2"</td>
    <td>12"</td>
  </tr>
  <tr>
    <th>Sleeve Length (Armhole to Edge)</th>
    <td>23 1/2"</td>
    <td>24"</td>
    <td>24 1/2"</td>
    <td>25"</td>
    <td>25 1/2"</td>
    <td>26"</td>
  </tr>
  <tr>
    <th>Cuff Opening (Relaxed)</th>
    <td>3 1/2"</td>
    <td>3 1/2"</td>
    <td>4"</td>
    <td>4"</td>
    <td>4"</td>
    <td>4 1/2"</td>
  </tr>
  <tr>
    <th>Cuff Height (Set In)</th>
    <td>2 1/4"</td>
    <td>2 1/4"</td>
    <td>2 1/4"</td>
    <td>2 1/4"</td>
    <td>2 1/4"</td>
    <td>2 1/4"</td>
  </tr>
</table>