<table id="apparelSizeChart">
  <tr>
    <th>(IN)</th>
    <th>S</th>
    <th>M</th>
    <th>L</th>
    <th>XL</th>
    <th>2XL</th>
    <th>3XL</th>
  </tr>
  <tr>
    <th>Highest Point Shoulder Length</th>
    <td>27"</td>
    <td>27 1/2"</td>
    <td>28"</td>
    <td>29"</td>
    <td>29 1/2"</td>
    <td>32"</td>
  </tr>
  <tr>
    <th>Across Shoulders (Seam To Seam)</th>
    <td>22"</td>
    <td>23"</td>
    <td>23 1/2"</td>
    <td>24"</td>
    <td>24"</td>
    <td>24"</td>
  </tr>
  <tr>
    <th>Front Neck Drop (Seam)</th>
    <td>24"</td>
    <td>25"</td>
    <td>25 1/2"</td>
    <td>26"</td>
    <td>26 1/2"</td>
    <td>26 1/2"</td>
  </tr>
  <tr>
    <th>Sleeve Hem</th>
    <td>31"</td>
    <td>31"</td>
    <td>31"</td>
    <td>31"</td>
    <td>33"</td>
    <td>33"</td>
  </tr>
  <tr>
    <th>Sweep Hem</th>
    <td>24 1/2"</td>
    <td>24 1/2"</td>
    <td>27"</td>
    <td>28"</td>
    <td>29"</td>
    <td>32"</td>
  </tr>
  <tr>
    <th>Neckband Width</th>
    <td>9"</td>
    <td>9"</td>
    <td>9"</td>
    <td>9 1/2"</td>
    <td>9 1/2"</td>
    <td>9 1/2"</td>
  </tr>
</table>