<table id="apparelSizeChart">
  <tr>
    <th>(IN)</th>
    <th>XS</th>
    <th>S</th>
    <th>M</th>
    <th>L</th>
    <th>XL</th>
    <th>2XL</th>
    <th>3XL</th>
  </tr>
  <tr>
    <th>Body Length</th>
    <td>27"</td>
    <td>28"</td>
    <td>29"</td>
    <td>30"</td>
    <td>31"</td>
    <td>32"</td>
    <td>33"</td>
  </tr>
  <tr>
    <th>Body Length Tolerance</th>
    <td>+/- 1/2"</td>
    <td>+/- 1/2"</td>
    <td>+/- 1/2"</td>
    <td>+/- 1/2"</td>
    <td>+/- 1/2"</td>
    <td>+/- 1/2"</td>
    <td>+/- 1/2"</td>
  </tr>
  <tr>
    <th>Body Width</th>
    <td>16"</td>
    <td>18"</td>
    <td>20"</td>
    <td>22"</td>
    <td>24"</td>
    <td>26"</td>
    <td>28"</td>
  </tr>
  <tr>
    <th>Body Width Tolerance</th>
    <td>+/- 1/2"</td>
    <td>+/- 1/2"</td>
    <td>+/- 1/2"</td>
    <td>+/- 1/2"</td>
    <td>+/- 1/2"</td>
    <td>+/- 1/2"</td>
    <td>+/- 1/2"</td>
  </tr>
</table>