<table id="apparelSizeChart">
  <tr>
    <th>(IN)</th>
    <th>XS</th>
    <th>S</th>
    <th>M</th>
    <th>L</th>
    <th>XL</th>
  </tr>
  <tr>
    <th>Body Width</th>
    <td>18"</td>
    <td>19"</td>
    <td>20"</td>
    <td>21"</td>
    <td>21 3/4"</td>
  </tr>
  <tr>
    <th>Body Length</th>
    <td>25"</td>
    <td>25 1/2"</td>
    <td>25 3/4"</td>
    <td>26 1/4"</td>
    <td>26 1/2"</td>
  </tr>
</table>