<div class="star-rating-selector">
  <div class="stars stars-0 active-stars">
    <i class="material-icons star" data-number="1">star_border</i>
    <i class="material-icons star" data-number="2">star_border</i>
    <i class="material-icons star" data-number="3">star_border</i>
    <i class="material-icons star" data-number="4">star_border</i>
    <i class="material-icons star" data-number="5">star_border</i>
  </div>
  <div class="stars stars-1">
    <i class="material-icons star" data-number="1">star</i>
    <i class="material-icons star" data-number="2">star_border</i>
    <i class="material-icons star" data-number="3">star_border</i>
    <i class="material-icons star" data-number="4">star_border</i>
    <i class="material-icons star" data-number="5">star_border</i>
  </div>
  <div class="stars stars-2">
    <i class="material-icons star" data-number="1">star</i>
    <i class="material-icons star" data-number="2">star</i>
    <i class="material-icons star" data-number="3">star_border</i>
    <i class="material-icons star" data-number="4">star_border</i>
    <i class="material-icons star" data-number="5">star_border</i>
  </div>
  <div class="stars stars-3">
    <i class="material-icons star" data-number="1">star</i>
    <i class="material-icons star" data-number="2">star</i>
    <i class="material-icons star" data-number="3">star</i>
    <i class="material-icons star" data-number="4">star_border</i>
    <i class="material-icons star" data-number="5">star_border</i>
  </div>
  <div class="stars stars-4">
    <i class="material-icons star" data-number="1">star</i>
    <i class="material-icons star" data-number="2">star</i>
    <i class="material-icons star" data-number="3">star</i>
    <i class="material-icons star" data-number="4">star</i>
    <i class="material-icons star" data-number="5">star_border</i>
  </div>
  <div class="stars stars-5">
    <i class="material-icons star" data-number="1">star</i>
    <i class="material-icons star" data-number="2">star</i>
    <i class="material-icons star" data-number="3">star</i>
    <i class="material-icons star" data-number="4">star</i>
    <i class="material-icons star" data-number="5">star</i>
  </div>
</div>