<!-- /templates/customers/login.liquid -->
<div class="valign-wrapper" style="height: 100%; width: 100%; top: 0; position: absolute;">
  <div class="container">
    <div class="row">
      <div class="col s12 l6 offset-l3">
        {% include 'LoginForm' %}
      </div>
    </div>
  </div>
</div>