<!-- /templates/customers/login.liquid -->
<div id="Login" class="valign-wrapper" style="width: 100%; top: 0;">
  <div class="container">
    <div class="row">
      <div class="col s12 l6 offset-l3">
        {% include 'LoginForm' %}
      </div>
    </div>
  </div>
</div>