<!-- /templates/customers/reset_password.liquid -->
<div class="valign-wrapper" style="height: 100%; width: 100%; top: 0; position: absolute;">
  <div class="container">
    <div class="row">
      <div class="col s12 l6 offset-l3">
        {% form 'reset_customer_password' %}

        {{ form.errors | default_errors }}

        <label for="password">Password</label>
        <input type="password" value="" name="customer[password]" size="16" />

        <label for="password_confirmation">Password Confirmation</label>
        <input type="password" value="" name="customer[password_confirmation]" size="16" />

        <input class="btn waves-effect waves-light background-s-red" type="submit" value="Reset Password" />

        {% endform %}
        
      </div>
    </div>
  </div>
</div>
