{% comment %}
  Borrowed from https://help.shopify.com/en/themes/development/recommended-products/using-liquid
{% endcomment %}
<div class="product-recommendations" data-product-id="{{ product.id }}" data-limit="6">
  {%- if recommendations.products_count > 0 -%}
    <h3 class="center-align">You may also like</h3>
    <div class="side-scroll-wrapper">
      {%- for product in recommendations.products limit: 6 -%}
      <div class="side-scroll-card">
        <div class="row">
          {% assign grid_sizes = 's12' %}
          {% include 'ProductTile' %}
        </div>
      </div>
      {%- endfor -%}
    </div>
  {%- endif -%}
</div>

{% javascript %}
var loadProductRecommendationsIntoSection = function() {
  // Look for an element with class 'product-recommendations'
  var productRecommendationsSection = document.querySelector(".product-recommendations");
  if (productRecommendationsSection === null) { return; }
  // Read product id from data attribute
  var productId = productRecommendationsSection.dataset.productId;
  // Read limit from data attribute
  var limit = productRecommendationsSection.dataset.limit;
  // Build request URL
  var requestUrl = "/recommendations/products?section_id=product-recommendations&limit="+limit+"&product_id="+productId;
  // Create request and submit it using Ajax
  var request = new XMLHttpRequest();
  request.open("GET", requestUrl);
  request.onload = function() {
    if (request.status >= 200 && request.status < 300) {
      var container = document.createElement("div");
      container.innerHTML = request.response;
      productRecommendationsSection.parentElement.innerHTML = container.querySelector(".product-recommendations").innerHTML;
    }
  };
  request.send();
};
document.addEventListener("shopify:section:load", function(event) {
  if (event.detail.sectionId === "product-recommendations") {
    loadProductRecommendationsIntoSection();
  }
});
// Fetching the recommendations on page load
loadProductRecommendationsIntoSection();
{% endjavascript %}