<div id="Build-Regimen" class="build-regimen">
  <h2 class="center-align">BUILD YOUR REGIMEN</h2>
  <div class="row">  
    {%- for product in collections[section.settings.collection].all_products limit: product_limit -%}
        <div class="col s12 m6 product-card">
          {% assign grid_sizes = 's12' %}
          {% include 'ProductTileBuildRegimen' %}
        </div>
      {%- endfor -%}
  </div>
</div>

{% schema %}
{
  "name": "Build Regimen",
  "tag": "section",
  "class": "section",
  "settings": [
    {    
      "type": "collection",
      "id": "collection",
      "label": "Collection"
    }
  ]
}
{% endschema %}