/**************************************************
Cards
**************************************************/
span.card-title {
  min-height: 96px;
}

/**************************************************
Product Drawer
**************************************************/
#ProductDrawer {
  width: 600px;
}

.drawer-product {
  padding: 30px 15px 15px 15px;
  margin-bottom: 30px;
}

/**************************************************
Helpers
**************************************************/
.margin-bottom-none {
  margin-bottom: 0 !important;
}