 <div class="container">
  <div class="row">
    <div class="col s12">
       <div id="qr-code"></div>
    </div>
  </div>
  <div class="row">
    <div class="col s12 center-align">
      {{ gift_card.code }}
    </div>
  </div>
  <div class="row">
    <div class="col s12 center-align">
      {% if gift_card.pass_url %}
      <a href="{{ gift_card.pass_url }}">
        <img id="apple-wallet-badge" src="{{ 'gift-card/add-to-apple-wallet.svg' | shopify_asset_url }}" width="120" height="40" alt="Add To Apple Wallet">
      </a>
      {% endif %}
    </div>
  </div>
 </div>

  <script>
    new QRCode(document.getElementById("qr-code"), {
      text: "{{ gift_card.qr_identifier }}",
      width: 120,
      height: 120
    });
  </script>