<div class="premiumblends">
  <div class="banner">
    <img 
      class="responsive-img"
      src="https://cdn.shopify.com/s/files/1/0274/1389/files/premium-blends-slide-1.jpg"
      alt="Premium Blends" 
    />
  </div>
  <div class="container">

    <div class="about">
      <h2 class="center-align"><i>"Some traditions were never meant to die."</i></h2>
      <div class="row">
        <div class="col s12 push-m6 m6">
          <p>While retaining the same set of values of our original products we introduced a 'premium' line of products which 
          was geared toward high end salons and clothing stores. These products are priced to be competitive with other leading 
          men's grooming products available on the market today.</p>
          <img 
            src="{{ 'suavecito-premium-blends-scorpius-tee.jpg' | asset_url }}"
            alt="Premium Blends Tee"
          />
        </div>
        <div class="col s12 pull-m6 m6">
          <img 
            src="{{ 'suavecito-premium-blends-roadster.jpg' | asset_url }}"
            alt="Premium Blends Roadster"
          />
          <p>Althought our products are priced reasonably, they do not sacrifice value, quality or appeal. Again using the 
          same principles as our original line such as pricing incentives, it was easy for new retailers to take on the product 
          and in turn the consumer as well.</p>
        </div>
      </div>
    </div>

  </div>

  {% section 'Parallax' %}

  {% section 'AboutCategory' %}

  {% section 'PhotoGrid' %}

{% comment %}
  <h1>{{ page.title }}</h1>
  <div>{{ page.content }}</div>
{% endcomment %}
</div>
