<div class="container">
  <div class="row">
    <div class="col s12">
      <h1>{{ page.title }}</h1>
    </div>
    <div class="col s12 l6">
      <div class="card">
        <div class="card-content">
          {% form 'contact' %}
            <div class="row">
              <div class="col s12"><span class="card-title">How can we help?</span></div>
              {% if form.posted_successfully? or form.errors %}
                <div class="col s12">
                  {% if form.posted_successfully? %} Thank you for your contact {% endif %}
                  {{ form.errors | default_errors }}
                </div>
              {% endif %}
              <div class="input-field col s12">
                <label placeholder="placeholder" for="ContactFormName">name</label>
                <input type="text" id="ContactFormName" name="contact[name]">
              </div>
              <div class="input-field col s12">
                <label placeholder="placeholder" for="ContactFormEmail">email</label>
                <input type="email" id="ContactFormEmail" name="contact[email]">
              </div>
              <div class="input-field col s12">
                <label placeholder="placeholder" for="ContactFormPhone">phone</label>
                <input type="tel" id="ContactFormPhone" name="contact[phone]">
              </div>
              <div class="input-field col s12">
                <label placeholder="placeholder" for="ContactFormMessage">message</label>
                <textarea class="materialize-textarea" rows="10" id="ContactFormMessage" name="contact[body]"></textarea>
              </div>
              <div class="col s12 right-align">
                <div class="card-action">
                  <input class="btn background-s-red" type="submit" value="send">
                </div>
              </div>
            </div>
          {% endform %}
        </div>
      </div>
    </div>
    <div class="col s12 l6">
      {% section 'contact-sidebar' %}
    </div>
  </div>
</div>