<div class="suavecito">
  
  {% section 'SuavecitoMissionStatementParallax' %}

  {% section 'SuavecitoCategories' %}

  {% section 'SuavecitoAbout' %}

  {% section 'SuavecitoSeasonal' %}

  {% section 'SuavecitoCollaborations' %}

  {% section 'ParallaxPageBreak' %}

  {% section 'SuavecitoCulture' %}

</div>
