{% layout none %}
{% assign current_variant = product.selected_or_first_available_variant %}
{% assign featured_image = current_variant.featured_image | default: product.featured_image %}
<div class="drawer-product" data-page-title="{{page_title}}">
  <div class="row valign-wrapper">
    <div class="col padding-none"><i class="medium material-icons close-drawer">chevron_left</i></div>
    <div class="col padding-none"><h1>{{ product.title }}</h1></div>
  </div>
  {% include 'ProductSwiper' %}
  {% include 'ProductForm' %}
  <div class="row">
    <div class="col padding-none">{{ product.description }}</div>
  </div>
  {% if product.title == 'Oil Based Pomade' or product.title == 'Firme Clay Pomade' or product.title == 'Suavecito Matte Pomade' or product.title == 'Original Hold Pomade' or product.title == 'Firme (Strong) Hold Pomade' or product.title == 'Light Hold Pomade' %}
    <hr />
    {% assign pomade = product.title %}
    {% include 'ProductCompareChart' %}
    <hr />
  {% endif %}
  <div class="snpt">
    {% if product.vendor == 'Suavecita' %}
    <div class='snpt-wdgt--ppg' data-vendor="suavecita">
  	  {%comment%}<script src='https://snapppt.com/widgets/ppg/0fdbe9ce-1f38-4c32-a7a4-78e6a984fd8c' defer class='snapppt-widget'></script>{% endcomment %}
    </div>
    {% else %}
    <div class='snpt-wdgt--ppg' data-vendor="suavecito">
        {%comment%}<script src='https://snapppt.com/widgets/ppg/b8a4a3ac-f1db-4f1d-b6bf-d101c36d5f28' defer class='snapppt-widget'></script>{% endcomment %}
    </div>
    {% endif %}
  </div>
  <div class="product-reviews"></div>
</div>
