{% layout none %}
{% assign current_variant = product.selected_or_first_available_variant %}
{% assign featured_image = current_variant.featured_image | default: product.featured_image %}
<div class="drawer-product" data-page-title="{{page_title}}">
  <div class="row valign-wrapper">
    <div class="col"><i class="medium material-icons close-drawer">chevron_left</i></div>
    <div class="col"><h1>{{ product.title }}</h1></div>
  </div>
  {% include 'ProductSwiper' %}
  {% include 'ProductForm' %}
  <div>{{ product.description }}</div>
  {% if product.title == 'Oil Based Pomade' or product.title == 'Firme Clay Pomade' or product.title == 'Suavecito Matte Pomade' or product.title == 'Original Hold Pomade' or product.title == 'Firme (Strong) Hold Pomade' or product.title == 'Light Hold Pomade' %}
    <hr />
    {% assign pomade = product.title %}
    {% include 'ProductCompareChart' %}
    <hr />
  {% endif %}
  <div class="product-reviews"></div>
</div>
